<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickLinkr</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<nav class="navbar bg-dark border-bottom navbar-expand-lg">
    <div class="container-fluid px-5">
        <a class="navbar-brand ms-md-5 ms-0" href="/">QuickLinkr</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ps-md-5 ps-3 mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign In</a>
                </li>
                <li class="nav-item">
               <% if(!user) { %>
                <a class="nav-link" href="login">Log In</a>
                <% } else { %>
                    <a class="nav-link" href="/logout">Log Out</a>
                <% } %>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
    <h1 class="text-center">404 - Page Not Found</h1>
</div>


<footer class="footer">
    <h4 class="text-center text-purple text-uppercase mt-1">Follow Us</h4>
    <div class="d-flex justify-content-center align-items-center my-3"> 
        <a href="https://www.linkedin.com/in/himanshi-khattri-b102a4271/" class="btn btn-square"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.youtube.com/@codeAmour7" class="btn btn-square"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/_codeamour/" class="btn btn-square "><i class="fab fa-instagram"></i></a>
    </div>
    <div class="d-flex align-items-center justify-content-center pt-2">
       <a href="" class="text-decoration-none text-white"><span>copyright &copy; 2024 </span>| All right reserved!</a> 
    </div>
   </footer>
    
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>